/*TYPOGRAPHY*/
/* Google Fonts */
/* Goodle Fonts */
/* Google Fonts */
/*FONT SIZES*/
h1 {
  font-size: 13em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

/*COLORS */
/*BUTTONS*/
.button_ghost {
  display: block;
  width: 200px;
  padding: 8px;
  color: #000;
  border: 2px solid #000;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out; }

.button_ghost:hover,
.button_ghost:active {
  text-decoration: none;
  color: #7a7a7a;
  text-decoration: none;
  background-color: #fff;
  /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff;
  /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in; }
