.center {
	text-align: center;
}

.double_border {
	border-top: 1px double $color_button_3;
	border-bottom: 1px double $color_button_3;
	margin: 1em auto;
	width: 10em;
	max-width: 90%;
}

/*HOME SECTION*/

#home {

}

.fixed_bg_home {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	min-height: 700px;
	h1 {
		padding-top: 4em;
		color: white;
		font-size: 5em;
	}
	i {
		margin-top: 1em;
		color: $color_bg_2;
	}
}

/*SERVICES SECTION*/
#services {
}

.flat_bg {
	background-color: $color_bg_1;
	width: 100%;
	margin: 0;
	padding: 4em 0 8em 0;
}

.ch-grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: block;
}

.ch-grid:after {
    clear: both;
}

.service_box {
	display: block;
	position: relative;
	margin: 2em auto 0 auto;
	width: 100%;
	max-width: 380px;
	min-height: 400px;
	float: left;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(51,51,51,.6);
	-moz-box-shadow: 0px 0px 16px 0px rgba(51,51,51,.6);
	box-shadow: 0px 0px 16px 0px rgba(51,51,51,.6);
	h4 {
		text-align: center;
	}
	hr {
		margin: .1em auto;
	}
	p {
		padding: 4px 14px;
	}
	img {
		width: 100%;
	}
	@media screen and (max-width: 900px) {
	
	}
}

.service_box_img {
	width: 100%;
	height: 340px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
}

.button_flat_services {
	font-family: $font_text;
	display: block;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 1.1em;
	background-color: $color_button_3;
	border-top: 2px solid $color_bg_3;
	border-bottom: 2px solid $color_bg_3;
}

.button_flat_services:hover,
.button_flat_services:active, {
	text-decoration: none;
	color: $color_button_4;
	background-color: $color_bg_3;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;  
}

.service_details {
	display: flex;
	width: 100%;
	height: 40px;
	font-size: 14px;
	margin: 0;
	i {
		width: 5%;
		float: left;
		margin: auto 0 auto .8em;
		font-size: 16px;
	}
	p {
		width: 45%;
		margin: auto 0;
		font-size: 16px;
	}
	.service_right {
		padding-left: 33%;
		width: 50%;
		position: right;
	}
}

/*ABOUT SECTION*/
#about {
	background-color: $color_bg_2;
	width: 100%;
	margin: 0;
	padding: 1em 0 6em 0;
}

.about_full {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	min-height: 600px;
	width: 90%;
	max-width: 900px;
	margin: 2em auto 3em auto;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(51,51,51,.4);
	-moz-box-shadow: 0px 0px 16px 0px rgba(51,51,51,.4);
	box-shadow: 0px 0px 16px 0px rgba(51,51,51,.4);
}

/*LOCATION SECTION*/
#location {
	padding: 3em 0;
	background-color: $color_bg_1;
	iframe {
		
		-webkit-box-shadow: 0px 0px 16px 0px rgba(51,51,51,.5);
	-moz-box-shadow: 0px 0px 16px 0px rgba(51,51,51,.5);
	box-shadow: 0px 0px 16px 0px rgba(51,51,51,.5);
	}
}

.repeater {
	p {
		margin: 0;
		padding: 0;
	}
}

/*FOOTER*/
.site-footer {
	padding: 2em 0 3em 0;
	background-color: $color_bg_3;
	color: $color_bg_1;
	hr {
		width: 70%;
		background-color: $color_button_3;
		padding: 0;
		margin: .4em auto;
	}
	i {
		color: $color_bg_1;
	}
	i:hover {
		color: $color_button_3;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;  
	}
	.button_flat {
		margin-top: 1.5em;
		@media (min-width: 768px) {
		margin-top: 0;
		}
	}
}














